Build
Devel-Cover-Report-Clover-*
MANIFEST.SKIP
MANIFEST.SKIP.bak
MANIFEST.bak
MYMETA.json
MYMETA.yml
MYMETA.json
Makefile
_build
blib
cover_db
cover_db_test
inc
pm_to_blib
*.swp
*.bak
clover.xml
cover_db_test/**/clover*.xml
